main,
html {
	background-color: #eeeeee;
}
.App {
	position: relative;
	min-height: 100vh;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}
.flexbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.App h1 {
	font-size: 2rem;
	margin: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

.container {
	padding: 1em;
	animation: show 0.5s linear forwards;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}


.App ul {
	list-style: none;

	padding: 0;
	margin: 0;
}

@media (max-width:576px){
	.flexbox{
		flex-direction: column;
	}
}